
.system{
    width: 100%;
    height: 68px;
    background-color:  #f6f8fa;
}
.intro-rogo{
    width: 78px;
    height: 29px;
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: 20px;
    background-image: url(../band.img/spr_intro.png);
    background-position: 0 -98px;
    margin: 17px 0 0 17px;
}
.intro-rogo>a{
    width: 78px;
    height: 32px;
    transform: rotateY(10px);
    color: transparent;
}
.intro-rogo>a>p{
    color: transparent;
}
.intro-text{
    display: flex;
    justify-content: right;
    transform: translateY(-22px);
}
.intro-text>a{
    text-decoration:none;
    position: relative;
    margin-left: 30px;
    font-size: 14px;
}
.korea{
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.korea:hover{
    text-decoration: underline;
}

#menu-check {
    display: none;
}
.language-ul{
    display: none;
    position: absolute;
    border: 1px solid #c0c0c0;
    background-color: white;
    top: 32px;
    width: 150px;
    font-size: 14px;
    padding: 4px;
}

#menu-check:checked + .language-ul {
    display: block;
}
.languageLink{
    text-decoration: none;  
    line-height: 24px;
}

.intro-rogin{ 
    font-size: 10px;
    font-weight: 700;
    color: #fafafa;
    display: inline-block;
    width: 45px;
    height: 35px;
    border-radius: 2px;
    background-color: #21c531;
    line-height: 35px;
    padding: 0 32px;
    text-align: center;
    transform: translateY(-10px);
}
a{
    color: #222;
}
.banner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 76px;
    background-color: #f6f8fa;
    display: flex;
    justify-content:center;
}
.banner-content>img{
    width: 540px;
    height: 695px;
    margin-right:50px;
}
.banner-title{
    margin-top: 122px;
    padding-bottom: 60px;
    
}
h1{
    font-weight: 400;
    font-size: 3rem;
    line-height: 56px;
    margin-bottom: 28px;
}
.rogin{
    display: block;
    width: 338px;
    height: 52px;
    border-radius: 2px;
    background-color: #21c531;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 54px;
    color: #fff;
    text-decoration:none;
    margin-top: 28px;
    margin-bottom: 18px;
}
.sign{
    display: block;
    width: 338px;
    height: 52px;
    border-radius: 2px;
    border: 1px solid rgb(223, 220, 220);
    background-color:#fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 54px;
    color: #21c531; 
    text-decoration:none;
    margin-top: 28px;
    margin-bottom: 18px;
}
.banner-text{
    color: #21c531;
    line-height: 30px;
    font-weight: bold;
}
.titele-text{
    font-size: 13px;
}
.banner-main{
    width: 100%;
    height: 540px;
    background-image: url(../band.img/bg_intro.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-weight: 400;
    font-size: 2.6rem;
    color: #fff;
    margin-bottom: 30px;
}
.banner-main>p{
    color: #fff;
    line-height: 30px;
    font-weight: 500px;
}
.main{
    margin: 0 auto;
    padding:30px;
    max-width:1000px;
    align-content: center;
    display: flex;
    justify-content:space-between;
    text-align: left;
}
.meeting>img{
    width: 300px;
    height: 160px;
}
h3{
    line-height: 50px;
    font-size: 24px;
    font-weight: 500;
}
.meeting>p{
    line-height: 25px;
    font-size: 15px;
}
.function>img{
    width: 300px;
    height: 160px;
}
.function>p{
    line-height: 25px;
    font-size: 15px;
}
.want>img{
    width: 300px;
    height: 160px;
}
.want>p{
    line-height: 25px;
    font-size: 15px;
}
.main-text{
    margin: 0 auto;
    padding: 0px 30px;
    max-width: 1000px;
    text-align:end;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.main-text>a{  
      text-decoration: none;
      font-size: 14px;
}
.main-text>a:hover{
    text-decoration: underline;
}

article{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
}
.main-wrapper{
    padding: 30px; 
}
.wrapper-img{
    width: 93px;
    height: 93px;
    border-radius: 12px;
} 

.main-wrapper>ul>li>a{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}
h4{
    font-weight: bold;
    font-size: 14px;
}
.wrapper-text{
    width: 100%;
    height: 90px;
    overflow: hidden;
    font-size: 14px;
    line-height: 30px;
    margin-left: 14px;
}
.wrapper-content{
    height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 여기에 제한하고자 하는 줄 수를 입력한다. */
    -webkit-box-orient: vertical;
}
.wrappersub{
    font-size: 12px;
    color: #c0c0c0;
}
span{
    font-size: 12px;
    font-weight: bold;
}
.last-content{
    margin: 0 auto;
    padding: 30px;
    max-width: 1000px;
    display: flex;
    align-items: center;
}
.last-icon{
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: -999px;
    background-image:url(../band.img/spr_intro.png);
    background-position: -162px 0;
    float: left;
    margin-right: 20px;
}
.last-icon>a>p{
    width: 70px;
    height: 70px;
}
.last-text{
    line-height: 30px;
}
.last-conteiner{
    margin:0 auto;
    width: 843px;
    display: flex;
    justify-content: space-between;
}
h5{
    font-size: 1.5rem;
    font-weight: 350;
}
.google{
    width: 160px;
    height: 47px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: -999px;
    background-image: url(../band.img/spr_intro.png);
    background-position: 0 0;
}
.app{
    width: 160px;
    height: 47px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: -999px;
    background-image: url(../band.img/spr_intro.png)
}
footer{
    
    background-color: #353c42;
    height: 140px;
}
.footer-menu{
    width: 1000px;
    display:flex;
    align-content: center;
    margin-top: 23px;
   
}
.footer-menu>a>p{
    margin:5px;
    font-size: 13px;
    font-weight: 400;
    color: #777;
    vertical-align: top;
}










